:root {
  --color-primary: #fc9216;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

h1 {
  font-size: 4.8rem;
  color: var(--color-primary);
}

h2 {
  font-size: 3.6rem;
  font-weight: normal;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.8rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.white-text {
  color: #fff;
}

.primary-text {
  color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 7.2rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  p {
    font-size: 1.4rem;
  }

  body {
    font-size: 1.4rem;
  }
}

/* Buttons */
.btn {
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  outline: 0;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--color-primary);
  border: 2px var(--color-primary) solid;
  color: #fff;
  transition: background-color 0.2s;
}

.btn-outline-primary {
  background-color: #fff;
  border: 2px var(--color-primary) solid;
  color: var(--color-primary);
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #dc851f;
}

.btn-outline-primary:hover {
  background-color: var(--color-primary);
  color: #fff;
}

/* SKILLS */
.skill-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill-image {
  height: 10rem;
  width: 10rem;
}

.skill-label {
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .skill-image {
    height: 15rem;
    width: 15rem;
  }
}

/* GRID */

.grid {
  display: grid;
}

.grid-2x3 {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 1024px) {
  .grid-1x6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* PROJECT */
.project-container {
  padding: 1rem;
}

.project-thumbnail {
  width: 100%;
  border: 3px solid #cac6c6;
}

@media screen and (min-width: 1024px) {
  .project-body {
    padding: 1rem;
  }
}

/* ICONS */
.icon {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  height: 5rem;
  justify-content: center;
  padding: 1rem;
  width: 5rem;
}

.icon i {
  font-size: 3rem;
}

.icon-primary {
  background-color: var(--color-primary);
  color: #fff;
}

/* LOGO */
.logo {
  height: 9rem;
  width: 15rem;
}

/* LIST */

.list {
  list-style: none;
}

/* NAV MENU */
.nav-list {
  display: none;
  justify-content: space-between;
}

.nav-item {
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.1s;
}

.nav-item:hover {
  color: #333;
  border-bottom: 3px solid var(--color-primary);
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}
