:root {
  --color-primary: #fc9216;
  --color-body: #333;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 4.8rem;
  color: var(--color-primary);
}

h2 {
  font-size: 3.6rem;
  font-weight: normal;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.8rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.white-text {
  color: #fff;
}

.primary-text {
  color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 7.2rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  p {
    font-size: 1.4rem;
  }

  body {
    font-size: 1.4rem;
  }
}

/* Buttons */
.btn {
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  outline: 0;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--color-primary);
  border: 2px var(--color-primary) solid;
  color: #fff;
  transition: background-color 0.2s;
}

.btn-outline-primary {
  background-color: #fff;
  border: 2px var(--color-primary) solid;
  color: var(--color-primary);
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #dc851f;
}

.btn-outline-primary:hover {
  background-color: var(--color-primary);
  color: #fff;
}

/* SKILLS */
.skill-header {
  text-align: center;
  margin-bottom: 1rem;
}

.skill-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill-image {
  height: 10rem;
  width: 10rem;
}

.skill-label {
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .skill-image {
    height: 15rem;
    width: 15rem;
  }
}

/* GRID */

.grid {
  display: grid;
}

.grid-1x3 {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 1024px) {
  .grid-1x6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* PROJECT */
.project-container {
  padding: 1rem;
}

.project-thumbnail {
  width: 100%;
  border: 3px solid #cac6c6;
}

@media screen and (min-width: 1024px) {
  .project-body {
    padding: 1rem;
  }
}

/* ICONS */
.icon {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  height: 5rem;
  justify-content: center;
  padding: 1rem;
  width: 5rem;
}

.icon i {
  font-size: 3rem;
}

.icon-primary {
  background-color: var(--color-primary);
  color: #fff;
}

/* LOGO */
.logo {
  height: 7rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 15rem;
}

/* LIST */

.list {
  list-style: none;
}

/* COLLAPSIBLE */
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible-expanded .collapsible-content {
  max-height: 100vh;
  opacity: 1;
}

/* NAV MENU */
.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-toggler {
  cursor: pointer;
}

.nav-list {
  /* display: none; */
  justify-content: space-between;
  width: 100%;
  padding-inline-start: 0;
}

.nav-list a {
  color: inherit;
}

.nav-list a:hover {
  text-decoration: none;
  color: #fff;
}

.nav-item {
  border-bottom: 1px solid #d6d6d6;
  cursor: pointer;
  font-weight: 500;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.nav-item:hover {
  color: #fff;
  background-color: rgba(252, 146, 22, 0.7);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .nav-toggler {
    display: none;
  }

  .nav-list {
    display: flex;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }

  .nav-item {
    border: 0;
  }
}

/* BLOCKS */

.block {
  padding: 3rem 0 3rem 0;
}

/* MAIN CONTAINER */
.main-container {
  max-width: 1280px;
  margin: auto;
}

/* HOME */

.hero-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30rem;
  text-align: center;
}

.hero-image-container {
  overflow: hidden;
}

.hero-image {
  width: 100%;
}

.primary-mountain {
  position: absolute;
  right: -50rem;
  bottom: 0;
  z-index: 0;
}

@media screen and (min-width: 1024px) {
  .hero-content {
    text-align: left;
    align-items: flex-start;
  }
}

/* SKILLS SECTION */
.other-skills {
  width: 50%;
  margin: auto;
}
