<div class="grid grid-2x3 grid-1x6">
  <div class="skill-container">
    <img src="images/html_logo.png" class="skill-image" />
    <p class="skill-label">HTML</p>
  </div>
  <div class="skill-container">
    <img src="images/html_logo.png" class="skill-image" />
    <p class="skill-label">HTML</p>
  </div>
  <div class="skill-container">
    <img src="images/html_logo.png" class="skill-image" />
    <p class="skill-label">HTML</p>
  </div>
  <div class="skill-container">
    <img src="images/html_logo.png" class="skill-image" />
    <p class="skill-label">HTML</p>
  </div>
  <div class="skill-container">
    <img src="images/html_logo.png" class="skill-image" />
    <p class="skill-label">HTML</p>
  </div>
  <div class="skill-container">
    <img src="images/html_logo.png" class="skill-image" />
    <p class="skill-label">HTML</p>
  </div>
</div>
